<div class="container">
  <h1>{{title}}</h1>
  <hr>

  <h3>Enter Food</h3>
  <input class="input" type="text" [(ngModel)]="food">

  <br><br>
  <button type="button" class="btn" (click)="submit()">Search</button>
  <br><br><br>

  <table  class="table table-bordered">
    <thead>
    <tr>
      <th>Image</th>
      <th>Qty</th>
      <th>Unit</th>
      <th>Title</th>
      <th>Energy</th>
      <th>Nutrients</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let hit of hits">
      <td><img src={{hit.recipe.image}}/></td>
      <td>{{hit.recipe.yield}}</td>
      <td>servings</td>
      <td>{{hit.recipe.label}}</td>
      <td>{{hit.recipe.calories | number: '1.1-1'}} kcal</td>
      <td>
        Proteins:&nbsp;&nbsp;&nbsp;
        {{hit.recipe.totalNutrients.PROCNT.quantity | number: '1.1-1'}} {{hit.recipe.totalNutrients.PROCNT.unit}}<br>
        Fat:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{hit.recipe.totalNutrients.FAT.quantity | number: '1.1-1'}} {{hit.recipe.totalNutrients.FAT.unit}}<br>
        Carbs:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{hit.recipe.totalNutrients.CHOCDF.quantity | number: '1.1-1'}} {{hit.recipe.totalNutrients.CHOCDF.unit}}
      </td>
    </tr>
    </tbody>
  </table>
</div>

<router-outlet></router-outlet>
